<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387175416621-jni82fr9qaon0c47mbug1527hj3mbl4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387175416621-jni82fr9qaon0c47mbug1527hj3mbl4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCsI3C8rEa3flgYmOQHfy9hQ1QpzbXMriU</string>
	<key>GCM_SENDER_ID</key>
	<string>387175416621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psapps.sociableapp</string>
	<key>PROJECT_ID</key>
	<string>sociable-3da25</string>
	<key>STORAGE_BUCKET</key>
	<string>sociable-3da25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387175416621:ios:919466c67f9f70381e09a4</string>
</dict>
</plist>